<% content_for :onload do "showNearbyRoutes(#{params[:query]})" end %>

<% content_for :title do
	"Find a Route"
end %>

<% content_for :page_title do %>
	<form accept-charset="UTF-8" action="route" method="get" class="row display">
		<div class="eight phone-three columns">
			<span class="textbox-container">
				<%= text_field_tag "query", params[:query], class: "input-text search-route", placeholder: "route number", id: "route", autocomplete: "true" %>
				<span class="clear-input"></span>
			</span>
		</div>
		<div class="four phone-one columns">
			<%= button_tag "GO", type: 'submit', name: nil, class: "radius go route button" %>
			<%= button_tag image_tag('refreshicon.png'), name: nil, class: "button refresh radius", onclick: "refreshData()", title:"Refresh" %>
		</div>
	</form>
<% end %>

<% content_for :footer_thing do
	<span class="toolbar right">
				Display:
				<a href="#" onclick="setLayout('grid', 'two')" class="button small radius whichbus-green" title="View as two-up grid">::</a>
				<a href="#" onclick="setLayout('grid', 'three')" class="button small radius whichbus-green" title="View as three-up grid">:::</a>
				<a href="#" onclick="setLayout('list')" class="button small radius whichbus-green" title="View as list">=</a>
			</span>
end %> 