<% content_for :onload do "showNearbyRoutes(#{params[:query]})" end %>

<% content_for :title do
	"Find a Route"
end %>

<% content_for :page_title do %>
	<form accept-charset="UTF-8" action="route" method="get" class="row display">
		<div class="ten phone-three columns">
			<%= text_field_tag "query", params[:query], class: "input-text", placeholder: "search for a route name", id: "route" %>
		</div>
		<div class="two phone-one columns">
			<%= button_tag type: 'submit', name: nil, class: "radius pacifico whichbus-green go button", style: "text-shadow:0px 0px 1px dimgrey; font-weight:normal;" do %>
				GO
			<% end %>
		</div>
	</form>
<% end %>
