<!-- Route Index -->

<div class="row">

<div class="six columns">
<h2>Routes near you</h2>
</div>
</div>

<div class="row">

	<div class="ten columns">
	<p>LETS LIST ALL THE BUS ROUTES NEAR YOU HERE!</p>
	<table> 
	</div>

</div>



</table>


</div>