<% content_for :head do %>
<script type="text/javascript">
	function showRoute(route) {
		initializeMap(function() {loadRouteTrips(route)}, null, true);
		loadRoute(route);
	}
</script>
<% end %>

<!-- Route Show -->
<% content_for :title do
  "Route #{@route.shortName}"
end %>

<% content_for :page_title do %>
	<span class="route button radius"><%= @route.shortName %></span>
	<%= @route.description %>
<% end %>

<% content_for :onload do
  "showRoute('#{params[:id]}')"
  #"initializeMap(function() {loadRoute('#{params[:id]}')}, null, true);"
end %>