<% content_for :head do %>
<script type="text/javascript">
	function showRoute(route) {
		initializeMap(function() {loadRouteTrips(route)}, null, true);
		loadRoute(route);
	}
</script>
<% end %>

<!-- Route Show -->
<% content_for :title do
  "Route #{@route.shortName}"
end %>

<% content_for :page_title do %>
	<div class="row display">
		<span class="ten phone-three columns">
			<%= content_tag :span, @route.shortName, class: "route button radius whichbus-green" %>
			<%= content_tag :span, @route.description, class: "route description ellipsis" %>
		</span>
		<span class="two phone-one columns">
			<%= button_tag image_tag('refreshicon.png'), name: nil, class: "button refresh radius", onclick: "refreshData()", title:"Refresh" %>
		</span>
	</div>
<% end %>

<% content_for :onload do
  "showRoute('#{params[:id]}')"
end %>