<!-- Route Show -->
<% content_for :title do "Route #{@route.shortName}" end %>

<% content_for :page_title do  %>
	<span class="route button radius"><%= @route.shortName %></span>
	<%= @route.description %>
<% end %>

<% content_for :model_list do %>
	<% @route.stops.each do |stop| %>
	<div class="row display well">
		<span class="journey description">
			<%= stop.name %>
		</span>
	</div>
	<% end %>
<% end %>