br/>
 <br/>


<% content_for :head do %>

<style type="text/css">




</style>


<% end %>


<% content_for :mobile do %>
<div class="show-on-phones phones">
	<div class="row display">
		<div class="phone-three columns">
			<div style="margin:0px;">
				<img <%=  image_tag "header.jpg" %>
			</div>
				
			<table style="width:320px;">
			<tbody>
				<tr>
				<td cellspan="3">
				From: <%=@from.full_address %>
				To: <%= @to.full_address %>
				</td>
				
				</tr>


				<tr>
					<td><!-- INPUT Route #--><span id="route">511</span> <span id="direction">to Redmond</span></td>

					<td><!-- Departs "5th and Pine" --> <p>Departs: 5th & Pine</p> <p>Arrives: Redmond Town Center</p></td>
					
					<td><!-- Time left till departure -->3m</td>

				</tr>

			</tbody>

			</table>

		</div>
	</div>
</div>


<% end %> 


<% content_for :desktop do %>


<% end %> 