<% content_for :onload do "geolocate()" end %>
<!-- Stop index -->
<div class="row">
	<div class="five columns">
	<h4>There are <span id="stop_count"></span> stops near you:</h4>
	</div>
</div>

<div class="row">
	<div class="ten columns well">

		<table id="stop_list"> </table>
	</div>
</div>