<!-- Stop index -->

<% content_for :title do "Nearby Stops" end %>
<% content_for :page_title do %>
<div class="row display">
  <div class="two phone-one columns">
    <span class="route_num"><%= @stops.length %></span>
  </div>
  <div class="ten phone-three columns">
    <span style="text-align:left">Nearby Stops</span>
  </div>
</div>
<% end %>

<% content_for :model_list do %>
  <% @stops.each do |stop| %>
  <div class="row display well journey">      
  	<div class="ten phone-three columns route_desc">
      <h5 class="journey_span"><%= link_to stop.name, stop_path(stop.id)%></h5>
  	</div>
  	<div class="two phone-one columns route_time">
      <h5 class="journey_span">
        <%= stop.distance.round(2) %>mi
      </h5>
  	</div>
  </div>
  <% end %>
<% end %>
  
<!-- TODO make this a display row in the javascript -->
<ul id="stop_list">
</ul>