<% content_for :onload do "geolocate()" end %>
<!-- Stop index -->
<div class="row">
	<div class="five columns">
	<h4>There are <span id="stop_count"></span> stops near you:</h4>
	</div>
</div>

<div class="row">
	<div class="ten columns well">
		<!-- TODO make this a display row in the javascript -->
		<ul id="stop_list">
		</ul>
	</div>
</div>