<!-- Stop show -->
<% content_for :head do %>
<script type="text/javascript">
$(document).ready(function() {
  $("#toggleButton").click(function() {
    $(".row.journey.hidden").slideToggle();
  });

});
</script>
<% end %>

<!-- TODO: get a marker for the stop in there. -->
<% content_for :onload do %>
initializeMap(function(){loadStopSchedule('<%=@stop.id%>', '<%=params[:r]%>')}, showStopMarker,false);
<% end %>

<% content_for :title do "Stop Details" end %>
<% content_for :page_title do %>
	<h4 class="route description"><%= @stop.name %></h4>
<% end %>