<div class="container full-size">
  <%= render "layouts/header"%>
  
  <!-- the first real thing on the page is the page title -->
  <div class="row display title">
    <div class="twelve phone-four columns">
      <h3><%= yield(:page_title) %></h3>
    </div>
  </div>
  <!-- the following div contains the real page content -->
  <div class="row display">
    <!-- a 50% width column that becomes full-screen on phones -->
    <div class="five phone-four columns">
      <div class="row display show-on-phones">
        <!-- the map is the first element in the list on phones -->
        <div id="map_canvas_mobile" style="height:200px">
          [map placeholder]
        </div>
      </div>
      <!-- individual views print a list of items here -->
      <!-- we need to refine the CSS classes for these items -->
      <%= yield(:model_list) %>
    </div>
    <!-- on desktops and tablets we have a big map on the right side of the screen -->
    <div class="seven columns hide-on-phones ">
      <div id="map_canvas" style="width: 100%; height: 600px; background-color: red">
        [desktop map placeholder]
      </div>
    </div>
  </div>
</div>