
<div class="container">
	<div class="nav-bar shadow-bottom">
		<%= render "layouts/header" %>
	</div>

	<div class="map-container">
		<div id="map_canvas">
		</div>
	</div>
	<div class="left-sidebar shadow-sides" id="search_result">
		<div class="header shadow-bottom">
			<h3 id="page-title" class="title"><%= yield(:title) %></h3>
			<div id="page-header" class="subtitle"><%= yield(:page_title) %></div>
		</div>
		<ul id="model-list" class="list block-grid">
			<%= yield(:model_list) %>
		</ul>
		<div class="footer">
			<span class="toolbar right">
				Display:
				<a href="#" onclick="setLayout('grid', 'two')" class="button small radius whichbus-green" title="View as two-up grid">::</a>
				<a href="#" onclick="setLayout('grid', 'three')" class="button small radius whichbus-green" title="View as three-up grid">:::</a>
				<a href="#" onclick="setLayout('list')" class="button small radius whichbus-green" title="View as list">=</a>
			</span>
		</div>
	</div>
</div>