
<div class="container">
  <div class="nav-bar">
    <%= render "layouts/header"%>
  </div>


  <div class="map-container">
      <div id="map_canvas">
      </div>
  </div>
  <div class="left-sidebar" id="search_result" >
    <div class="header title">
      <div id="page-title">
        <span id="page-title-header"><%= yield(:page_title) %></span>
        <!--<a href="#" onclick="refreshData()" class="right button route radius whichbus-green" title="Refresh">R</a>-->
      </div>
    </div>
    <div id="model-list" class="list">
      <%= yield(:model_list) %>
    </div>
  </div>
</div>