<div class="container full-size">
  <%= render "layouts/header"%>
  
  <!-- the first real thing on the page is the page title -->
  <div class="nav-bar title">
    <div class="row">
      <div id="page-title" class="twelve phone-four columns">
        <span id="page-title-header"><%= yield(:page_title) %></span>
        <a href="#" onclick="refreshData()" class="right button route radius whichbus-green" title="Refresh">R</a>
      </div>
    </div>
  </div>
</div>

<div id="container">
  <!-- but on desktops and tablets it is pushed to the right side of the screen -->
  <div id="map_canvas" class="right">
    [map placeholder]
  </div>
  <div class="left-sidebar">
    <div id="model-list" class="model-list">
      <!-- individual views print a list of items here -->
      <!-- we need to refine the CSS classes for these items -->
      <%= yield(:model_list) %>
    </div>
  </div>
</div>