<div class="container full-size">
  <%= render "layouts/header"%>
  
  <!-- the first real thing on the page is the page title -->
  <div class="row display title">
    <div class="twelve phone-four columns">
      <h3><%= yield(:page_title) %></h3>
    </div>
  </div>
  <!-- the following div contains the real page content -->
  <div class="row display">
    <!-- a 50% width column that becomes full-screen on phones -->
	<div class="seven push-five phone-four columns">
      <div class="row display">
        <!-- the map is the first element in the list on phones -->
		<!-- but on desktops and tablets it is pushed to the right side of the screen -->
        <div id="map_canvas" style="height:200px">
          [map placeholder]
        </div>
      </div>
	</div>
    <div class="five pull-seven phone-four columns model-list">
      <!-- individual views print a list of items here -->
      <!-- we need to refine the CSS classes for these items -->
      <%= yield(:model_list) %>
    </div>
  </div>
</div>